// Colors

$primary-text-color: #999999;
$secondary-color: #52bab3;
$background-accent: #F7F7F7;
$background: #FFFFFF;

//font

$main-font: Quicksand, sans-serif;
$accent-font: Kaushan Script, cursive;
$detail-font: Open Sans, sans-serif;

//Links

$a-tags: "a, a:active, a:hover, a:visited";
$a-tags-hover: "a:active, a:hover";